<form
  [formGroup]="profileForm"
  (ngSubmit)="profileForm.valid && onSubmit(profileForm)"
>
  <mat-form-field>
    <mat-label>Full Name</mat-label>
    <input
      placeholder="Full Name"
      type="text"
      matInput
      formControlName="name"
    />
    <mat-error *ngIf="name.invalid && name.touched"> name required </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input placeholder="Email" type="email" matInput formControlName="email" />
    <mat-error *ngIf="email.invalid && email.touched">
      invalid email
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      placeholder="Password"
      type="password"
      matInput
      formControlName="password"
    />
    <mat-error *ngIf="password.invalid && password.touched">
      password required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="role">
      <mat-option value="CLIENT">client</mat-option>
      <mat-option value="MERCHANT">merchant</mat-option>
    </mat-select>
    <mat-label>Role</mat-label>
    <mat-error *ngIf="role.invalid && role.touched"> role required </mat-error>
  </mat-form-field>
  <button mat-button color="accent" type="submit">Submit</button>

  <mat-error *ngIf="serverErrorMessages">server error try again</mat-error>
</form>
