<div class="row flex-row container">
  <div class="col-6 postCard" *ngFor="let post of posts">
    <mat-card>
      <mat-card-content>
        <p><strong>price: </strong>{{ post.price }}</p>

        <p><strong>description: </strong>{{ post.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="DeletePost(post._id)"
        >
          delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
