mat-card {
  margin: 30px;
}
img {
  border-radius: 10px;
  width: 100px;
}
mat-card-title {
  color: rgb(241, 86, 112);
}
strong {
  color: rgb(74, 74, 255);
}
mat-card {
  border: 1px solid rgb(241, 86, 112);
}
